<h1>Tiny App</h1>


<% if (username)  { %>
  Logged in as: <%= username.email %>
    <form method="POST" action="/logout">
    <button type="submit" class="btn btn-warning">Logout</button> </li>
    </form>

<% } else { %>

    <a href="/login">Login</a> | <a href="/register">Register</a>
<% } %>