<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>TinyApp</title>
</head>
<body style="font-size:20px; padding:50px;">
<% include ./partials/_header.ejs %>

<a href="/urls/new">Create new URL</a>

<p><%= 'Tiny URL for: ' + longURL %></p>
<p><%= shortURL %></p>


    <form method="POST" action="/urls/<%= shortURL %>">


    <input name="update" type="text">
    <br>
    <br>
    <button type="submit" class="btn btn-primary">Update URL</button> </li>
    <a href="/urls" class="btn btn-success">Return to URLs</a>
    <a href="/u/<%=keys%>" class="btn btn-info">Go to URL</a>
    </form>




</body>
</html>